section {
  border: 1px dashed black;
}

.margin {
  padding: 0 20px 20px;
  background: salmon;
}

.border {
  padding: 0 20px 20px;
  background: rgb(249, 193, 186);
}

.padding {
  padding: 0 20px 20px;
  background: rgb(141, 224, 141);
}

.content {
  padding: 0 20px 20px;
  background: rgb(148, 199, 255);
  text-align: center;
}
