@import url("https://fonts.googleapis.com/css2?family=Margarine&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font:
    12px/1.5 "Margarine",
    sans-serif;
}

body,
input,
textarea,
button {
  font: inherit;
}

body {
  background: #fff0e4;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  color: #0b0b0b;
}

.container {
  /* border: 1px solid red; */
  display: flex;
  gap: 1em;
  /* box-shadow: 0 0 5em rgb(0, 0, 0, 0.5); */
}

aside {
  padding: 1em;
  box-shadow: 0 0 1em rgb(0, 0, 0, 0.5);
  width: 442px;
  padding-bottom: 5em;
}

.stat {
  background: #3295e5;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.ninety {
  width: 90%;
}
.eighty {
  width: 80%;
}
.seventy-five {
  width: 75%;
}
.fifty {
  width: 50%;
}

h4 {
  font-weight: 200px;
  margin: 15px 0;
  font-size: 1.5em;
}

main {
  padding: 1.5em;
  box-shadow: 0 0 1em rgb(0, 0, 0, 0.5);
  width: 910px;
}

h2 {
  font-size: 2.5em;
}
main h2 {
  text-align: center;
  font-size: 2.5em;
  margin: 2em 0;
}

main h3 {
  color: #716b66;
}

main h4 {
  font-size: 1.1em;
  color: #3295e5;
}

hr {
  margin: 20px 0;
}

.icon {
  display: flex;
  align-items: center;
  gap: 1em;
}

.icon i {
  color: #3295e5;
  font-size: 1.5em;
}

p {
  font-size: 1.3em;
}
