/* * {
  border: solid red;
} */
body {
  background-color: gray;
}
.main-ctr {
  display: flex;
  width: 60%;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.text-ctr {
  display: flex;
  flex-direction: column;
  flex: 20;
}

.img-ctr {
  /* height: 20px; */
  flex: 10;
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

img {
  width: 100%;
  border-radius: 5px;
}

button {
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
}

button:hover {
  cursor: pointer;
}

.chat-btn {
  background-color: blueviolet;
  color: white;
}

p,
h2,
h3 {
  padding: 0px;
  margin: 0px;
}

p {
  margin: 10px 0;
}

.btn-ctr {
  /* align-self: flex-end; */
  margin-top: auto;
}
